[Desktop Entry]
Type=Application
Version=1.0
Name=WAAAA
Exec=waaaa
Comment=WAAAAAAAAAAAA
Icon=waaaa
Terminal=false
Categories=Game;ArcadeGame;
X-Purism-FormFactor=Workstation;Mobile;
